Random Forest

The candidate with level 6.5 had a previous salary of 160000. In order to hire him in our new company, we would like to confirm if he is being honest about his last salary and we will can predict this using the Random Forest.

Agenda:

To be able to predict the salaries of the organisation and be able to decide the limit to be given.

In [1]:
#importing the libraries
import numpy as np 
import pandas as pd

In [2]:
#Importing Dataset
from sklearn.datasets import fetch_20newsgroups
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:

data = fetch_20newsgroups()

In [4]:
#reading the csv data file
df=pd.read_csv('Position_Salaries.csv')

In [5]:
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [6]:
df.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [7]:
#Checking the aggregate values of the dataset
df.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

In [8]:
#Assigning X and Y values
X=pd.DataFrame(df['Level'])
Y=df['Salary']

Checking the type and data of X and y variable

In [9]:
type(X)

pandas.core.frame.DataFrame

In [10]:
type(Y)

pandas.core.series.Series

In [11]:
#Splitting train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

In [12]:
#importing RandomForest algorithm
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 20,random_state=0)

In [13]:
#Fitting our model to train
model.fit(X_train, Y_train)

RandomForestClassifier(n_estimators=20, random_state=0)

checking the accuracy of our model

In [14]:
print((model.score(X_train, Y_train))*100)
print((model.score(X_test, Y_test))*100)

100.0
0.0

In [15]:
model.predict([[6.5]]).reshape(1, 1)

array([[150000]])

We can conclude that, a person with level 6.5 will have a predicted salary of 1,50,000 which seems to be less that what the person has claimed to be 1,60,000. From here, we can conclude that the person is lying.