**In this task you should use Pandas to answer a few questions about the Adult Dataset(provided).

Unique values of all features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('adult_csv.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [9]:
# You code here
data['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [10]:
# You code here
data.loc[data['sex']== 'Female','age'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 4        1
5        2
6        3
8        1
12       0
        ..
48826    3
48827    3
48828    2
48834    0
48837    2
Name: age, Length: 16192, dtype: int64>

*3. What is the percentage of German citizens (*native-country* feature)?**

In [11]:
# You code here
float((data['native-country']=='Germany').sum())/data.shape[0]

0.00421768150362393

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [14]:
ages1 = data.loc[data['class'] == '>50K', 'age']
ages2 = data.loc[data['class'] == '<=50K', 'age']
print("The average age of for those who earn more than 50K per year: {0} +- {1} years,and those who earn less than 50K per year - {2} +- {3} years.".format(
    round(ages1.mean()), round(ages1.std(), 1),
    round(ages2.mean()), round(ages2.std(), 1)))

The average age of for those who earn more than 50K per year: 2 +- 1.0 years,and those who earn less than 50K per year - 2 +- 1.3 years.

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [16]:
# You code here
data.loc[data['class'] == '>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th', 'Preschool'],
      dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [17]:
# You code here
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    185.000000
mean       1.583784
std        1.274651
min        0.000000
25%        1.000000
50%        1.000000
75%        3.000000
max        4.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    285.000000
mean       1.603509
std        1.135528
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    517.000000
mean       1.481625
std        1.211281
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    1002.000000
mean        1.782435
std         1.197137
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    2308.000000
mean        1.712738
std         1.240228
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    2377.000000
mean        1.711822
std         1.254554
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    155.000000
mean       1.090323
std        1.107048
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    251.000000
mean       1.454183
std        1.156241
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: age, dtype: float64
Race: White, sex: Female
count    13027.000000
mean         1.595839
std          1.352648
min          0.000000
25%          0.000000
50%          1.000000
75%          3.000000
max          4.000000
Name: age, dtype: float64
Race: White, sex: Male
count    28735.00000
mean         1.87423
std          1.27318
min          0.00000
25%          1.00000
50%          2.00000
75%          3.00000
max          4.00000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [19]:
# You code here
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 'Separated', 'Divorced','Widowed'])), 'class'].value_counts()

<=50K    11414
>50K      1001
Name: class, dtype: int64

In [20]:
data.loc[(data['sex'] == 'Male') & (data['marital-status'].str.startswith('Married')), 'class'].value_counts()

<=50K    11318
>50K      8917
Name: class, dtype: int64

In [21]:
data['marital-status'].value_counts()

Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [26]:
# You code here
max_load = data['hoursperweek'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hoursperweek'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hoursperweek'] == max_load)
                 & (data['class'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 4 hours./week.
Total number of such hard workers 1676
Percentage of rich among them 35%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [28]:
# You code here
for (country, salary), sub_df in data.groupby(['native-country', 'class']):print(country, salary, round(sub_df['hoursperweek'].mean(), 2))

Cambodia <=50K 2.05
Cambodia >50K 2.22
Canada <=50K 1.74
Canada >50K 2.4
China <=50K 1.67
China >50K 2.0
Columbia <=50K 1.83
Columbia >50K 3.0
Cuba <=50K 1.88
Cuba >50K 2.09
Dominican-Republic <=50K 2.03
Dominican-Republic >50K 2.2
Ecuador <=50K 1.79
Ecuador >50K 2.67
El-Salvador <=50K 1.65
El-Salvador >50K 2.09
England <=50K 1.82
England >50K 2.4
France <=50K 1.95
France >50K 2.31
Germany <=50K 1.84
Germany >50K 2.36
Greece <=50K 2.03
Greece >50K 2.94
Guatemala <=50K 1.89
Guatemala >50K 1.67
Haiti <=50K 1.65
Haiti >50K 1.89
Holand-Netherlands <=50K 2.0
Honduras <=50K 1.39
Honduras >50K 2.5
Hong <=50K 1.86
Hong >50K 2.25
Hungary <=50K 1.54
Hungary >50K 2.5
India <=50K 1.74
India >50K 2.42
Iran <=50K 1.95
Iran >50K 2.5
Ireland <=50K 2.0
Ireland >50K 2.27
Italy <=50K 1.8
Italy >50K 2.35
Jamaica <=50K 1.77
Jamaica >50K 2.2
Japan <=50K 1.9
Japan >50K 2.44
Laos <=50K 1.86
Laos >50K 2.0
Mexico <=50K 1.91
Mexico >50K 2.32
Nicaragua <=50K 1.72
Nicaragua >50K 1.67
Outlying-US(Guam-USVI-etc) <=50K 2.0
Outlying-US(Guam-USVI-etc) >50K 2.0
Peru <=50K 1.67
Peru >50K 2.0
Philippines <=50K 1.79
Philippines >50K 2.21
Poland <=50K 1.73
Poland >50K 2.0
Portugal <=50K 2.0
Portugal >50K 2.5
Puerto-Rico <=50K 1.85
Puerto-Rico >50K 2.0
Scotland <=50K 1.94
Scotland >50K 2.33
South <=50K 1.96
South >50K 2.75
Taiwan <=50K 1.62
Taiwan >50K 2.31
Thailand <=50K 2.08
Thailand >50K 3.0
Trinadad&Tobago <=50K 1.88
Trinadad&Tobago >50K 2.0
United-States <=50K 1.83
United-States >50K 2.33
Vietnam <=50K 1.77
Vietnam >50K 2.0
Yugoslavia <=50K 1.87
Yugoslavia >50K 2.25